# Zadanie

**W plikach iris.xls oraz iris.xlsx znajdują się te same dane można użyć dowolnego z nich.**

Kolumny przechowują następujące dane:
- sepal_length - długość działki kielicha
- sepal_width - szerokość działki kielicha
- petal_length - długość płatka
- petal_width - szerokość płatka
- species - gatunek

## Wykonaj następujące ćwiczenia:
1. Wczytaj dane z odpowiedniego arkusza w pliku do ramki `DataFrame`
2. Zmień nazwy kolumn tak, aby rozpoczynały się wielką literą i nie zawierały znaku podkreślenia.
3. Wyświel podstawowe statystki n.t. ramki danych
4. Zgrupuj dane tak po gatunku irysa (species).
5. Wyznacz maksymalną i minimalną długość płatka dla każdego gatunku.
6. Wyznacz średnią dłgość działki kielicha dla wszystkich gatunków i dla każdego z gatunków z osobna.

In [31]:
import pandas as pd

df = pd.read_excel('data/iris.xlsx', sheet_name='iris')
#df.columns = map(str.capitalize, df.columns)
df.columns = df.columns.str.capitalize().str.replace('_','')
df.describe()

df.groupby('Species')['Petallength'].agg(['min','max'])

            min  max
Species
setosa      1.0  1.9
versicolor  3.0  5.1
virginica   4.5  6.9