# Zadanie 1

In [ ]:
class Astronaut:
    pass

class SpaceAgency:
    pass

twardowski = Astronaut()
watney = Astronaut()
nasa = SpaceAgency()
esa = SpaceAgency()
polsa = SpaceAgency()

# Zadanie 2

In [ ]:
class Astronaut:
    pass

class SpaceAgency:
    pass

In [ ]:
jan_twardowski = Astronaut()
jan_twardowski.first_name = 'Jan'
jan_twardowski.last_name = 'Twardowski'
jan_twardowski.birth_date = '1961-04-12'

mark_watney = Astronaut()
mark_watney.first_name = 'Mark'
mark_watney.last_name = 'Watney'
mark_watney.birth_date = '1969-07-21'

esa = SpaceAgency()
esa.short_name = 'ESA'
esa.long_name = 'European Space Agency'
esa.location = 'Europe'

nasa = SpaceAgency()
nasa.short_name = 'NASA'
nasa.long_name = 'National Aeronautics and Space Administration'
nasa.location = 'USA'

polsa = SpaceAgency()
polsa.short_name = 'POLSA'
polsa.long_name = 'Polish Space Agency'
polsa.location = 'Poland'

print(jan_twardowski.__dict__)
print(mark_watney.__dict__)
print(esa.__dict__)
print(nasa.__dict__)
print(polsa.__dict__)

# Zadanie 3

In [ ]:
class Temperature:
    def __init__(self, temperature):
        print(temperature)
        
        
celsius = Temperature(36.6)
kelvin = Temperature(309.75)
fahrenheit = Temperature(97.88)

# Zadanie 4

In [ ]:
class Astronaut:
    def __init__(self, first_name, last_name, birth_date):
        self.first_name = first_name
        self.last_name = last_name
        self.birth_date = birth_date

class SpaceAgency:
    def __init__(self, short_name, long_name, location):
        self.short_name = short_name
        self.long_name = long_name
        self.location = location
        
jan_twardowski = Astronaut('Jan','Twardowski','1961-04-12')
mark_watney = Astronaut('Mark','Watney','1969-07-21')

esa = SpaceAgency(short_name='ESA',long_name='European Space Agency',location='Europe')
nasa = SpaceAgency(short_name='NASA',long_name='National Aeronautics and Space Administration',location='USA')
polsa = SpaceAgency(short_name='POLSA',long_name='Polish Space Agency',location='Poland')

In [ ]:
print(jan_twardowski.__dict__)
print(mark_watney.__dict__)
print(esa.__dict__)
print(nasa.__dict__)
print(polsa.__dict__)

# Zadanie metody

In [2]:
class Iris:
    def __init__(self, sepal_length, sepal_width, petal_length, petal_width, species):
        self.sepal_length = sepal_length
        self.sepal_width = sepal_width
        self.petal_length = petal_length
        self.petal_width = petal_width
        self.species = species
    
    def total(self):
        return self.sepal_length + self.sepal_width + self.petal_length + self.petal_width
    
    def mean(self):
        return self.total()/4
    
virginica = Iris(5.8,2.7,5.1,1.9,'virginica')
setosa = Iris(5.1,3.5,1.4,0.2,'setosa')


print(f'Gatunek: {virginica.species}')
print(f'Total: {virginica.total()}')
print(f'Srednia: {virginica.mean()}')

print(f'Gatunek: {setosa.species}')
print(f'Total: {setosa.total()}')
print(f'Srednia: {setosa.mean()}')

Gatunek: virginica
Total: 15.5
Srednia: 3.875
Gatunek: setosa
Total: 10.2
Srednia: 2.55