# Zadanie 1

In [ ]:
def hello():
    print('Ehlo world')
    
for i in range(0,3):
    hello()

# Zadanie 2

In [ ]:
def add():
    return 42 + 21.37

result = add()
result

# Zadanie 3

In [ ]:
def divide(a,b):
    try:
        return a/b
    except:
        print('Cannot divide by zero!')

In [ ]:
divide(10, 3)

In [ ]:
divide(10, 0)

# Zadanie 4

In [ ]:
def power(a,b=None):
    if b is None:
        b = a
    return a**b

In [ ]:
power(3)

In [ ]:
power(10,2)

# Zadanie 6

In [ ]:
def convert_speech(number):
    dictionary = {0:"zero",
    1:"one",
    2:"two",
    3:"tree",
    4:"fower",
    5:"fife",
    6:"six",
    7:"seven",
    8:"ait",
    9:"niner"}
    
    result = ''
    for x in str(number):
        if x.isnumeric():
            result += ' ' + dictionary[int(x)]
        elif x == '-':
            result += ' minus'
        elif x == '.':
            result += ' and'
            
    return result.strip()

In [ ]:
convert_speech(-13.37)

In [ ]:
INPUT = [1969,
31337,
13.37,
31.337,
-1969,
-31.337,
-49.35]

In [ ]:
result = [convert_speech(number) for number in INPUT]

In [ ]:
result

# Zadanie 7

In [ ]:
INPUT = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
    (4.9, 3.0, 1.4, 0.2, 'setosa'),
]

WANTED = {'setosa, versicolor'}

data = INPUT[1:]

features = []
labels = []

In [ ]:
for element in data:
    *measurements, label = element
    features.append(measurements)
    labels.append(label)

In [ ]:
features

In [ ]:
def sum_if_wanted(features, labels):
    i = 0
    for label in labels:
        print(label)
        if label in WANTED:
            print(sum(features[i]))
        else:
            print(0)
        i += 1
        print(i)

In [ ]:
sum_if_wanted(features, labels)

# Doctests

In [1]:
import doctest
doctest.testmod()

TestResults(failed=0, attempted=0)

In [ ]:
AGE_ADULT = 18

def is_adult(age):
    """
    Function checks if person is adult.
    Adult person is over 18 years old.

    >>> is_adult(18)
    True

    >>> is_adult(17.9)
    False
    """
    if age >= AGE_ADULT:
        return True
    else:
        return False

In [ ]:
doctest.testmod()

In [2]:
header = ['a','b','c','d']
data = [99,88,77,66,55]
row = [1,2,3,4]
[(k,v,r) for k,v,r in zip(header,data,row)]

[('a', 99, 1), ('b', 88, 2), ('c', 77, 3), ('d', 66, 4)]

In [5]:
def add_numbers(a,b):
    """
    >>> add_numbers(1,0)
    1
    >>> add_numbers(-1,1)
    0
    >>> add_numbers(1.5,2.5)
    4.0
    >>> add_numbers('a','b')
    Traceback (most recent call last):
        ...
    TypeError: A is not a number
    >>> add_numbers(True,1)
    Traceback (most recent call last):
        ...
    TypeError: A is not a number
    """
    if type(a) not in (float,int):
        raise TypeError('A is not a number')
    
    if type(b) not in (float,int):
        raise TypeError('B is not a number')
        
    return a+b

doctest.testmod()

TestResults(failed=0, attempted=5)

## Zadanie 1

In [19]:
def celsius_to_kelvin(degrees):
    """
    >>> celsius_to_kelvin(0)
    273.15
    >>> celsius_to_kelvin(1)
    274.15
    >>> celsius_to_kelvin(-1)
    272.15
    >>> celsius_to_kelvin('a')
    Traceback (most recent call last):
        ...
    TypeError: Invalid argument
    >>> celsius_to_kelvin([0, 1])
    [273.15, 274.15]
    >>> celsius_to_kelvin((0, 1))
    (273.15, 274.15)
    >>> celsius_to_kelvin({0, 1})
    {273.15, 274.15}
    """
    kelvin = 273.15
    
    if type(degrees) in (int, float):
        return degrees + kelvin
    
    if type(degrees) == str:
        raise TypeError('Invalid argument')
    
    for i in range(0,len(degrees)):
        degrees[i] += kelvin
        
    
    return degrees

doctest.testmod()

**********************************************************************
File "__main__", line 15, in __main__.celsius_to_kelvin
Failed example:
    celsius_to_kelvin((0, 1))
Exception raised:
    Traceback (most recent call last):
      File "/home/kodolamacz/anaconda3/lib/python3.7/doctest.py", line 1329, in __run
        compileflags, 1), test.globs)
      File "<doctest __main__.celsius_to_kelvin[5]>", line 1, in <module>
        celsius_to_kelvin((0, 1))
      File "<ipython-input-19-1e3d95645037>", line 29, in celsius_to_kelvin
        degrees[i] += kelvin
    TypeError: 'tuple' object does not support item assignment
**********************************************************************
File "__main__", line 17, in __main__.celsius_to_kelvin
Failed example:
    celsius_to_kelvin({0, 1})
Exception raised:
    Traceback (most recent call last):
      File "/home/kodolamacz/anaconda3/lib/python3.7/doctest.py", line 1329, in __run
        compileflags, 1), test.globs)
      File "<doctest __main__.celsius_to_kelvin[6]>", line 1, in <module>
        celsius_to_kelvin({0, 1})
      File "<ipython-input-19-1e3d95645037>", line 29, in celsius_to_kelvin
        degrees[i] += kelvin
    TypeError: 'set' object does not support indexing
**********************************************************************
1 items had failures:
   2 of   7 in __main__.celsius_to_kelvin
***Test Failed*** 2 failures.

TestResults(failed=2, attempted=12)