# Zadanie while

In [2]:
INPUT = (2, 3, 3.5, 4, 4.5, 5)

In [15]:
i = 0
degreesList = []
while i < len(INPUT):
    degreesList.append(float(INPUT[i]))
    i += 1

In [16]:
degreesList

[2.0, 3.0, 3.5, 4.0, 4.5, 5.0]

In [19]:
while True:
    degree = input('Podaj ocene: ')
    if not degree:
        break
    
    degree = float(degree)
    
    if degree in degreesList:
        sum += degree
        counter += 1
    else:
        print('Grade is not allowed')
        
mean = sum/counter
print(mean)

Podaj ocene: 5
Podaj ocene: 5
Podaj ocene: 5
Podaj ocene: 4
Podaj ocene: 3
Podaj ocene: 4
Podaj ocene:
4.333333333333333

In [18]:
mean

3.5

# Petla for

## Zadanie 1

In [28]:
INPUT = [1, 4, 6, 7, 4, 4, 4, 5, 1, 7, 0,
         0, 6, 5, 0, 0, 9, 7, 0, 4, 4, 8,
         2, 4, 0, 0, 1, 9, 1, 7, 8, 8, 9,
         1, 3, 5, 6, 8, 2, 8, 1, 3, 9, 5,
         4, 8, 1, 9, 6, 3]
OUTPUT = {}

In [29]:
for number in INPUT:
    if number in OUTPUT:
        OUTPUT[number] += 1
    else:
        OUTPUT[number] = 1
    
OUTPUT

{1: 7, 4: 8, 6: 4, 7: 4, 5: 4, 0: 7, 9: 5, 8: 6, 2: 2, 3: 3}

## Zadanie 2

In [32]:
INPUT = [1, 4, 6, 7, 4, 4, 4, 5, 1, 7, 0,
         0, 6, 5, 0, 0, 9, 7, 0, 4, 4, 8,
         2, 4, 0, 0, 1, 9, 1, 7, 8, 8, 9,
         1, 3, 5, 6, 8, 2, 8, 1, 3, 9, 5,
         4, 8, 1, 9, 6, 3]
OUTPUT = {
    'small': 0,
    'medium': 0,
    'large': 0
}

In [34]:
for liczba in INPUT:
    if 0 <= liczba <=2:
        OUTPUT['small'] += 1
    elif 3 <= liczba <= 7:
        OUTPUT['medium'] += 1
    elif 8 <= liczba <= 9:
        OUTPUT['large'] += 1
        
OUTPUT

{'small': 32, 'medium': 57, 'large': 11}

## Zadanie 3

In [35]:
TEXT = 'We choose to go to the Moon. We choose to go to the Moon in this decade and do the other things. Not because they are easy, but because they are hard. Because that goal will serve to organize and measure the best of our energies and skills. Because that challenge is one that we are willing to accept. One we are unwilling to postpone. And one we intend to win'

In [36]:
TEXT

'We choose to go to the Moon. We choose to go to the Moon in this decade and do the other things. Not because they are easy, but because they are hard. Because that goal will serve to organize and measure the best of our energies and skills. Because that challenge is one that we are willing to accept. One we are unwilling to postpone. And one we intend to win'

In [84]:
zdania = TEXT.split('.')
zdania

SLOWNIK = {}
przyslowki = 0
sumaSlow = 0

In [87]:
for zdanie in zdania:
    zdanie = zdanie.strip()
    slowaWzdaniu = zdanie.split( )
    liczbaSlow = len(slowaWzdaniu)
    sumaSlow += liczbaSlow
    SLOWNIK[zdanie] = liczbaSlow
    
    for slowo in slowaWzdaniu:
        if slowo.endswith('ly'):
            przyslowki += 1
        
    
    
SLOWNIK

{'We choose to go to the Moon': 7,
 'We choose to go to the Moon in this decade and do the other things': 15,
 'Not because they are easy, but because they are hard': 10,
 'Because that goal will serve to organize and measure the best of our energies and skills': 16,
 'Because that challenge is one that we are willing to accept': 11,
 'One we are unwilling to postpone': 6,
 'And one we intend to win': 6}

In [88]:
print(f'liczba przyslowkow: {przyslowki}')
print(f'liczba zdan: {len(zdania)}')
print(f'liczba slow: {sumaSlow}')

liczba przyslowkow: 0
liczba zdan: 7
liczba slow: 142

# Nested
## Zadanie 1

In [105]:
INPUT = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, {'virginica'}),
    (5.1, 3.5, 1.4, 0.2, {'setosa'}),
    (5.7, 2.8, 4.1, 1.3, {'versicolor'}),
    (6.3, 2.9, 5.6, 1.8, {'virginica'}),
    (6.4, 3.2, 4.5, 1.5, {'versicolor'}),
    (4.7, 3.2, 1.3, 0.2, {'setosa'}),
    (7.0, 3.2, 4.7, 1.4, {'versicolor'}),
    (7.6, 3.0, 6.6, 2.1, {'virginica'}),
    (4.6, 3.1, 1.5, 0.2, {'setosa'}),
]

In [90]:
header = INPUT[0]

In [91]:
data = INPUT[1:]
data

[(5.8, 2.7, 5.1, 1.9, {'virginica'}),
 (5.1, 3.5, 1.4, 0.2, {'setosa'}),
 (5.7, 2.8, 4.1, 1.3, {'versicolor'}),
 (6.3, 2.9, 5.6, 1.8, {'virginica'}),
 (6.4, 3.2, 4.5, 1.5, {'versicolor'}),
 (4.7, 3.2, 1.3, 0.2, {'setosa'}),
 (7.0, 3.2, 4.7, 1.4, {'versicolor'}),
 (7.6, 3.0, 6.6, 2.1, {'virginica'}),
 (4.6, 3.1, 1.5, 0.2, {'setosa'})]

In [101]:
for row in data:
    for info in row:
        if isinstance(info, set):
            for word in info:
                if word.endswith('ca') or word.endswith('sa'):
                    print(word)

virginica
setosa
virginica
setosa
virginica
setosa

In [106]:
header, *data = INPUT

for *pomiary, gatunek in data:
    #pop pobiera ostatni element (i go kasuje)
    gatunek = gatunek.pop()
    
    if gatunek.endswith('ca') or gatunek.endswith('sa'):
        print(gatunek)

virginica
setosa
virginica
setosa
virginica
setosa

## Zadanie 2

In [107]:
INPUT = [
    {'Sepal length': 5.1, 'Sepal width': 3.5, 'Species': 'setosa'},
    {'Petal length': 4.1, 'Petal width': 1.3, 'Species': 'versicolor'},
    {'Sepal length': 6.3, 'Petal width': 1.8, 'Species': 'virginica'},
    {'Sepal length': 5.0, 'Petal width': 0.2, 'Species': 'setosa'},
    {'Sepal width': 2.8, 'Petal length': 4.1, 'Species': 'versicolor'},
    {'Sepal width': 2.9, 'Petal width': 1.8, 'Species': 'virginica'},
]

In [108]:
klucze = set()

for row in INPUT:
    klucze.update(row.keys())

In [109]:
klucze

{'Petal length', 'Petal width', 'Sepal length', 'Sepal width', 'Species'}

# Loop over dict

## Zadanie 1

In [120]:
INPUT = {
    6: ['Doctorate', 'Prof-school'],
    5: ['Masters', 'Bachelor', 'Engineer'],
    4: ['HS-grad'],
    3: ['Junior High'],
    2: ['Primary School'],
    1: ['Kindergarten'],
}

OUTPUT2 = {}

In [121]:
for key, value in INPUT.items():
    for degree in value:
        OUTPUT2[degree] = str(key)

In [122]:
OUTPUT2

{'Doctorate': '6',
 'Prof-school': '6',
 'Masters': '5',
 'Bachelor': '5',
 'Engineer': '5',
 'HS-grad': '4',
 'Junior High': '3',
 'Primary School': '2',
 'Kindergarten': '1'}

## Zadanie 2

In [126]:
INPUT = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
    (4.9, 3.0, 1.4, 0.2, 'setosa'),
    (4.9, 2.5, 4.5, 1.7, 'virginica'),
    (7.1, 3.0, 5.9, 2.1, 'virginica'),
    (4.6, 3.4, 1.4, 0.3, 'setosa'),
    (5.4, 3.9, 1.7, 0.4, 'setosa'),
    (5.7, 2.8, 4.5, 1.3, 'versicolor'),
    (5.0, 3.6, 1.4, 0.3, 'setosa'),
    (5.5, 2.3, 4.0, 1.3, 'versicolor'),
    (6.5, 3.0, 5.8, 2.2, 'virginica'),
    (6.5, 2.8, 4.6, 1.5, 'versicolor'),
    (6.3, 3.3, 6.0, 2.5, 'virginica'),
    (6.9, 3.1, 4.9, 1.5, 'versicolor'),
    (4.6, 3.1, 1.5, 0.2, 'setosa'),
]

In [127]:
header, *data = INPUT

In [128]:
header

('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species')

In [129]:
data

[(5.8, 2.7, 5.1, 1.9, 'virginica'),
 (5.1, 3.5, 1.4, 0.2, 'setosa'),
 (5.7, 2.8, 4.1, 1.3, 'versicolor'),
 (6.3, 2.9, 5.6, 1.8, 'virginica'),
 (6.4, 3.2, 4.5, 1.5, 'versicolor'),
 (4.7, 3.2, 1.3, 0.2, 'setosa'),
 (7.0, 3.2, 4.7, 1.4, 'versicolor'),
 (7.6, 3.0, 6.6, 2.1, 'virginica'),
 (4.9, 3.0, 1.4, 0.2, 'setosa'),
 (4.9, 2.5, 4.5, 1.7, 'virginica'),
 (7.1, 3.0, 5.9, 2.1, 'virginica'),
 (4.6, 3.4, 1.4, 0.3, 'setosa'),
 (5.4, 3.9, 1.7, 0.4, 'setosa'),
 (5.7, 2.8, 4.5, 1.3, 'versicolor'),
 (5.0, 3.6, 1.4, 0.3, 'setosa'),
 (5.5, 2.3, 4.0, 1.3, 'versicolor'),
 (6.5, 3.0, 5.8, 2.2, 'virginica'),
 (6.5, 2.8, 4.6, 1.5, 'versicolor'),
 (6.3, 3.3, 6.0, 2.5, 'virginica'),
 (6.9, 3.1, 4.9, 1.5, 'versicolor'),
 (4.6, 3.1, 1.5, 0.2, 'setosa')]

In [134]:
OUTPUT3 = []

In [135]:
for row in data:
    pairs = zip(header, row)
    OUTPUT3.append(dict(pairs))

In [136]:
OUTPUT3

[{'Sepal length': 5.8,
  'Sepal width': 2.7,
  'Petal length': 5.1,
  'Petal width': 1.9,
  'Species': 'virginica'},
 {'Sepal length': 5.1,
  'Sepal width': 3.5,
  'Petal length': 1.4,
  'Petal width': 0.2,
  'Species': 'setosa'},
 {'Sepal length': 5.7,
  'Sepal width': 2.8,
  'Petal length': 4.1,
  'Petal width': 1.3,
  'Species': 'versicolor'},
 {'Sepal length': 6.3,
  'Sepal width': 2.9,
  'Petal length': 5.6,
  'Petal width': 1.8,
  'Species': 'virginica'},
 {'Sepal length': 6.4,
  'Sepal width': 3.2,
  'Petal length': 4.5,
  'Petal width': 1.5,
  'Species': 'versicolor'},
 {'Sepal length': 4.7,
  'Sepal width': 3.2,
  'Petal length': 1.3,
  'Petal width': 0.2,
  'Species': 'setosa'},
 {'Sepal length': 7.0,
  'Sepal width': 3.2,
  'Petal length': 4.7,
  'Petal width': 1.4,
  'Species': 'versicolor'},
 {'Sepal length': 7.6,
  'Sepal width': 3.0,
  'Petal length': 6.6,
  'Petal width': 2.1,
  'Species': 'virginica'},
 {'Sepal length': 4.9,
  'Sepal width': 3.0,
  'Petal length': 1.4,
  'Petal width': 0.2,
  'Species': 'setosa'},
 {'Sepal length': 4.9,
  'Sepal width': 2.5,
  'Petal length': 4.5,
  'Petal width': 1.7,
  'Species': 'virginica'},
 {'Sepal length': 7.1,
  'Sepal width': 3.0,
  'Petal length': 5.9,
  'Petal width': 2.1,
  'Species': 'virginica'},
 {'Sepal length': 4.6,
  'Sepal width': 3.4,
  'Petal length': 1.4,
  'Petal width': 0.3,
  'Species': 'setosa'},
 {'Sepal length': 5.4,
  'Sepal width': 3.9,
  'Petal length': 1.7,
  'Petal width': 0.4,
  'Species': 'setosa'},
 {'Sepal length': 5.7,
  'Sepal width': 2.8,
  'Petal length': 4.5,
  'Petal width': 1.3,
  'Species': 'versicolor'},
 {'Sepal length': 5.0,
  'Sepal width': 3.6,
  'Petal length': 1.4,
  'Petal width': 0.3,
  'Species': 'setosa'},
 {'Sepal length': 5.5,
  'Sepal width': 2.3,
  'Petal length': 4.0,
  'Petal width': 1.3,
  'Species': 'versicolor'},
 {'Sepal length': 6.5,
  'Sepal width': 3.0,
  'Petal length': 5.8,
  'Petal width': 2.2,
  'Species': 'virginica'},
 {'Sepal length': 6.5,
  'Sepal width': 2.8,
  'Petal length': 4.6,
  'Petal width': 1.5,
  'Species': 'versicolor'},
 {'Sepal length': 6.3,
  'Sepal width': 3.3,
  'Petal length': 6.0,
  'Petal width': 2.5,
  'Species': 'virginica'},
 {'Sepal length': 6.9,
  'Sepal width': 3.1,
  'Petal length': 4.9,
  'Petal width': 1.5,
  'Species': 'versicolor'},
 {'Sepal length': 4.6,
  'Sepal width': 3.1,
  'Petal length': 1.5,
  'Petal width': 0.2,
  'Species': 'setosa'}]

## Zadanie 3

In [154]:
INPUT = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
    (4.9, 3.0, 1.4, 0.2, 'setosa'),
    (4.9, 2.5, 4.5, 1.7, 'virginica'),
    (7.1, 3.0, 5.9, 2.1, 'virginica'),
    (4.6, 3.4, 1.4, 0.3, 'setosa'),
    (5.4, 3.9, 1.7, 0.4, 'setosa'),
    (5.7, 2.8, 4.5, 1.3, 'versicolor'),
    (5.0, 3.6, 1.4, 0.3, 'setosa'),
    (5.5, 2.3, 4.0, 1.3, 'versicolor'),
    (6.5, 3.0, 5.8, 2.2, 'virginica'),
    (6.5, 2.8, 4.6, 1.5, 'versicolor'),
    (6.3, 3.3, 6.0, 2.5, 'virginica'),
    (6.9, 3.1, 4.9, 1.5, 'versicolor'),
    (4.6, 3.1, 1.5, 0.2, 'setosa'),
]

In [158]:
header, *data = INPUT
features = []
labels = []
label_encoder = {}

for row in data:
    pomiary = row[0:4]
    gatunek = row[4]
    
#     if gatunek not in label_encoder.values():
#         nr = len(label_encoder)
#         label_encoder[nr] = gatunek
    
#     for nr, gat in label_encoder.items():
#         if gat == gatunek:
#             labels.append(nr)
    
print(pomiary)
    #features.append(tuple(pomiary))
    
print(features)
print(labels)
print(label_encoder)

(4.6, 3.1, 1.5, 0.2)
[]
[]
{}

In [146]:
features

[[5.8, 2.7, 5.1, 1.9],
 [5.1, 3.5, 1.4, 0.2],
 [5.7, 2.8, 4.1, 1.3],
 [6.3, 2.9, 5.6, 1.8],
 [6.4, 3.2, 4.5, 1.5],
 [4.7, 3.2, 1.3, 0.2],
 [7.0, 3.2, 4.7, 1.4],
 [7.6, 3.0, 6.6, 2.1],
 [4.9, 3.0, 1.4, 0.2],
 [4.9, 2.5, 4.5, 1.7],
 [7.1, 3.0, 5.9, 2.1],
 [4.6, 3.4, 1.4, 0.3],
 [5.4, 3.9, 1.7, 0.4],
 [5.7, 2.8, 4.5, 1.3],
 [5.0, 3.6, 1.4, 0.3],
 [5.5, 2.3, 4.0, 1.3],
 [6.5, 3.0, 5.8, 2.2],
 [6.5, 2.8, 4.6, 1.5],
 [6.3, 3.3, 6.0, 2.5],
 [6.9, 3.1, 4.9, 1.5],
 [4.6, 3.1, 1.5, 0.2]]