In [1]:
import pandas as pd
import numpy as np

In [41]:
colnames = ['MovieID', 'Title', 'Genres']
movies = pd.read_csv('ml-1m/movies.dat',
                     sep='::',
                     engine='python',
                     header=None,
                     names=colnames)
#movies['Year'] = movies['Title'].str.extract('\((\d{4})\)',expand=False)
#movies['Title'].str.extract('\((\d{4})\)',expand=False)
#movies.Title.str.slice(-5,-1)


movies['Year'] = movies.Title.str[-5:-1].astype(int)
movies['Title'] = movies['Title'].str[:-6].str.strip()
movies

,MovieID,Title,Genres,Year
0,1,Toy Story,Animation|Children's|Comedy,1995
1,2,Jumanji,Adventure|Children's|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama,1995
4,5,Father of the Bride Part II,Comedy,1995
5,6,Heat,Action|Crime|Thriller,1995
6,7,Sabrina,Comedy|Romance,1995
7,8,Tom and Huck,Adventure|Children's,1995
8,9,Sudden Death,Action,1995
9,10,GoldenEye,Action|Adventure|Thriller,1995
10,11,"American President, The",Comedy|Drama|Romance,1995
11,12,Dracula: Dead and Loving It,Comedy|Horror,1995
12,13,Balto,Animation|Children's,1995
13,14,Nixon,Drama,1995
14,15,Cutthroat Island,Action|Adventure|Romance,1995
15,16,Casino,Drama|Thriller,1995
16,17,Sense and Sensibility,Drama|Romance,1995
17,18,Four Rooms,Thriller,1995
18,19,Ace Ventura: When Nature Calls,Comedy,1995
19,20,Money Train,Action,1995
20,21,Get Shorty,Action|Comedy|Drama,1995
21,22,Copycat,Crime|Drama|Thriller,1995
22,23,Assassins,Thriller,1995
23,24,Powder,Drama|Sci-Fi,1995
24,25,Leaving Las Vegas,Drama|Romance,1995
25,26,Othello,Drama,1995
26,27,Now and Then,Drama,1995
27,28,Persuasion,Romance,1995
28,29,"City of Lost Children, The",Adventure|Sci-Fi,1995
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao),Drama,1995
...,...,...,...,...
3853,3923,Return of the Fly,Horror|Sci-Fi,1959
3854,3924,Pajama Party,Comedy,1964
3855,3925,Stranger Than Paradise,Comedy,1984
3856,3926,Voyage to the Bottom of the Sea,Adventure|Sci-Fi,1961
3857,3927,Fantastic Voyage,Adventure|Sci-Fi,1966
3858,3928,Abbott and Costello Meet Frankenstein,Comedy|Horror,1948
3859,3929,"Bank Dick, The",Comedy,1940
3860,3930,"Creature From the Black Lagoon, The",Horror,1954
3861,3931,"Giant Gila Monster, The",Horror|Sci-Fi,1959
3862,3932,"Invisible Man, The",Horror|Sci-Fi,1933
3863,3933,"Killer Shrews, The",Horror|Sci-Fi,1959
3864,3934,Kronos,Sci-Fi,1957
3865,3935,Kronos,Horror,1973
3866,3936,"Phantom of the Opera, The",Drama|Thriller,1943
3867,3937,Runaway,Sci-Fi|Thriller,1984
3868,3938,"Slumber Party Massacre, The",Horror,1982
3869,3939,"Slumber Party Massacre II, The",Horror,1987
3870,3940,"Slumber Party Massacre III, The",Horror,1990
3871,3941,Sorority House Massacre,Horror,1986
3872,3942,Sorority House Massacre II,Horror,1990
3873,3943,Bamboozled,Comedy,2000
3874,3944,Bootmen,Comedy|Drama,2000
3875,3945,Digimon: The Movie,Adventure|Animation|Children's,2000
3876,3946,Get Carter,Action|Drama|Thriller,2000
3877,3947,Get Carter,Thriller,1971
3878,3948,Meet the Parents,Comedy,2000
3879,3949,Requiem for a Dream,Drama,2000
3880,3950,Tigerland,Drama,2000
3881,3951,Two Family House,Drama,2000
3882,3952,"Contender, The",Drama|Thriller,2000

In [94]:
colnames = ['UserID', 'Gender', 'Age', 'Occupation', 'Zip-code']
users = pd.read_csv('ml-1m/users.dat', sep='::', engine='python', header=None, names=colnames)
users

      UserID Gender  Age  Occupation Zip-code
0          1      F    1          10    48067
1          2      M   56          16    70072
2          3      M   25          15    55117
3          4      M   45           7    02460
4          5      M   25          20    55455
5          6      F   50           9    55117
6          7      M   35           1    06810
7          8      M   25          12    11413
8          9      M   25          17    61614
9         10      F   35           1    95370
10        11      F   25           1    04093
11        12      M   25          12    32793
12        13      M   45           1    93304
13        14      M   35           0    60126
14        15      M   25           7    22903
15        16      F   35           0    20670
16        17      M   50           1    95350
17        18      F   18           3    95825
18        19      M    1          10    48073
19        20      M   25          14    55113
20        21      M   18          16    99353
21        22      M   18          15    53706
22        23      M   35           0    90049
23        24      F   25           7    10023
24        25      M   18           4    01609
25        26      M   25           7    23112
26        27      M   25          11    19130
27        28      F   25           1    14607
28        29      M   35           7    33407
29        30      F   35           7    19143
...      ...    ...  ...         ...      ...
6010    6011      M   35          15    80538
6011    6012      M   35          15    02871
6012    6013      F   25          20    32301
6013    6014      M   45           1    80634
6014    6015      F   25           9    80013
6015    6016      M   45           1    37209
6016    6017      F   35           7    21117
6017    6018      M   35           1    48906
6018    6019      M   25           0    10024
6019    6020      M   50          16    10023
6020    6021      M   25          12    08876
6021    6022      M   25          17    57006
6022    6023      M   25           0    43213
6023    6024      M   25          12    53705
6024    6025      F   25           1    32607
6025    6026      M   35           6    11210
6026    6027      M   18           4    20742
6027    6028      M   18           4    94133
6028    6029      F   25           1    23185
6029    6030      M   25          17    32618
6030    6031      F   18           0    45123
6031    6032      M   45           7    55108
6032    6033      M   50          13    78232
6033    6034      M   25          14    94117
6034    6035      F   25           1    78734
6035    6036      F   25          15    32603
6036    6037      F   45           1    76006
6037    6038      F   56           1    14706
6038    6039      F   45           0    01060
6039    6040      M   25           6    11106

[6040 rows x 5 columns]

In [14]:
colnames = ['UserID', 'MovieID', 'Rating', 'Timestamp']
ratings = pd.read_csv('ml-1m/ratings.dat', sep='::', engine='python', header=None, names=colnames)
ratings.head(20)

    UserID  MovieID  Rating  Timestamp
0        1     1193       5  978300760
1        1      661       3  978302109
2        1      914       3  978301968
3        1     3408       4  978300275
4        1     2355       5  978824291
5        1     1197       3  978302268
6        1     1287       5  978302039
7        1     2804       5  978300719
8        1      594       4  978302268
9        1      919       4  978301368
10       1      595       5  978824268
11       1      938       4  978301752
12       1     2398       4  978302281
13       1     2918       4  978302124
14       1     1035       5  978301753
15       1     2791       4  978302188
16       1     2687       3  978824268
17       1     2018       4  978301777
18       1     3105       5  978301713
19       1     2797       4  978302039

## Wykryj i wypisz wszystkie remake'i - ten sam tytul, rozne lata

In [54]:
counts = movies.Title.value_counts()
counts[counts > 1].reset_index().rename({'Title':'Counts', 'index':'Title'})

                                         index  Title
0                                       Hamlet      5
1                                   Mummy, The      3
2                                      Dracula      2
3                              King and I, The      2
4                                 General, The      2
5                        Village of the Damned      2
6                                   Wonderland      2
7                                       Kronos      2
8                                     Fly, The      2
9                                       Psycho      2
10                  Man Who Knew Too Much, The      2
11  Ballad of Narayama, The (Narayama Bushiko)      2
12                                       Shaft      2
13                                   Cape Fear      2
14                            Mighty Joe Young      2
15                    Thomas Crown Affair, The      2
16                                     Othello      2
17                                      Lolita      2
18                                  True Crime      2
19                                    Kid, The      2
20                             Mis�rables, Les      2
21                      End of the Affair, The      2
22                                       Loser      2
23                                     Titanic      2
24                            Parent Trap, The      2
25                            Jungle Book, The      2
26                               Haunting, The      2
27                                   King Kong      2
28                             Doctor Dolittle      2
29                              101 Dalmatians      2
30                                     Sabrina      2
31                              My Man Godfrey      2
32                      Miracle on 34th Street      2
33                        Nutty Professor, The      2
34                           Godzilla (Gojira)      2
35                         Scarlet Letter, The      2
36                              That Darn Cat!      2
37                                  Get Carter      2

In [83]:
movies_duplicated = movies[movies.duplicated(subset='Title', keep=False)]
movies_year = movies_duplicated.groupby('Title')['Year'].agg(['min', 'max'])
movies_year
movies_year['Diff'] = movies_year['max'] - movies_year['min']
movies_year.sort_values(by='Diff', ascending=False)
#movies_year['min']

                                             min   max  Diff
Title
Kid, The                                    1921  2000    79
General, The                                1927  1998    71
Scarlet Letter, The                         1926  1995    69
Mummy, The                                  1932  1999    67
Hamlet                                      1948  2000    52
Mighty Joe Young                            1949  1998    49
Miracle on 34th Street                      1947  1994    47
End of the Affair, The                      1955  1999    44
Titanic                                     1953  1997    44
Othello                                     1952  1995    43
King Kong                                   1933  1976    43
King and I, The                             1956  1999    43
Sabrina                                     1954  1995    41
Psycho                                      1960  1998    38
Parent Trap, The                            1961  1998    37
Haunting, The                               1963  1999    36
101 Dalmatians                              1961  1996    35
Village of the Damned                       1960  1995    35
Lolita                                      1962  1997    35
Nutty Professor, The                        1963  1996    33
That Darn Cat!                              1965  1997    32
Thomas Crown Affair, The                    1968  1999    31
Doctor Dolittle                             1967  1998    31
Godzilla (Gojira)                           1954  1984    30
Shaft                                       1971  2000    29
Get Carter                                  1971  2000    29
Cape Fear                                   1962  1991    29
Fly, The                                    1958  1986    28
Jungle Book, The                            1967  1994    27
Dracula                                     1931  1958    27
Ballad of Narayama, The (Narayama Bushiko)  1958  1982    24
Man Who Knew Too Much, The                  1934  1956    22
My Man Godfrey                              1936  1957    21
Kronos                                      1957  1973    16
Loser                                       1991  2000     9
True Crime                                  1995  1999     4
Mis�rables, Les                             1995  1998     3
Wonderland                                  1997  1999     2

## jaki film ma najwieksza odleglosc od najstarszej do najnowszej wersji

In [57]:
movies

,MovieID,Title,Genres,Year
0,1,Toy Story,Animation|Children's|Comedy,1995
1,2,Jumanji,Adventure|Children's|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama,1995
4,5,Father of the Bride Part II,Comedy,1995
5,6,Heat,Action|Crime|Thriller,1995
6,7,Sabrina,Comedy|Romance,1995
7,8,Tom and Huck,Adventure|Children's,1995
8,9,Sudden Death,Action,1995
9,10,GoldenEye,Action|Adventure|Thriller,1995
10,11,"American President, The",Comedy|Drama|Romance,1995
11,12,Dracula: Dead and Loving It,Comedy|Horror,1995
12,13,Balto,Animation|Children's,1995
13,14,Nixon,Drama,1995
14,15,Cutthroat Island,Action|Adventure|Romance,1995
15,16,Casino,Drama|Thriller,1995
16,17,Sense and Sensibility,Drama|Romance,1995
17,18,Four Rooms,Thriller,1995
18,19,Ace Ventura: When Nature Calls,Comedy,1995
19,20,Money Train,Action,1995
20,21,Get Shorty,Action|Comedy|Drama,1995
21,22,Copycat,Crime|Drama|Thriller,1995
22,23,Assassins,Thriller,1995
23,24,Powder,Drama|Sci-Fi,1995
24,25,Leaving Las Vegas,Drama|Romance,1995
25,26,Othello,Drama,1995
26,27,Now and Then,Drama,1995
27,28,Persuasion,Romance,1995
28,29,"City of Lost Children, The",Adventure|Sci-Fi,1995
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao),Drama,1995
...,...,...,...,...
3853,3923,Return of the Fly,Horror|Sci-Fi,1959
3854,3924,Pajama Party,Comedy,1964
3855,3925,Stranger Than Paradise,Comedy,1984
3856,3926,Voyage to the Bottom of the Sea,Adventure|Sci-Fi,1961
3857,3927,Fantastic Voyage,Adventure|Sci-Fi,1966
3858,3928,Abbott and Costello Meet Frankenstein,Comedy|Horror,1948
3859,3929,"Bank Dick, The",Comedy,1940
3860,3930,"Creature From the Black Lagoon, The",Horror,1954
3861,3931,"Giant Gila Monster, The",Horror|Sci-Fi,1959
3862,3932,"Invisible Man, The",Horror|Sci-Fi,1933
3863,3933,"Killer Shrews, The",Horror|Sci-Fi,1959
3864,3934,Kronos,Sci-Fi,1957
3865,3935,Kronos,Horror,1973
3866,3936,"Phantom of the Opera, The",Drama|Thriller,1943
3867,3937,Runaway,Sci-Fi|Thriller,1984
3868,3938,"Slumber Party Massacre, The",Horror,1982
3869,3939,"Slumber Party Massacre II, The",Horror,1987
3870,3940,"Slumber Party Massacre III, The",Horror,1990
3871,3941,Sorority House Massacre,Horror,1986
3872,3942,Sorority House Massacre II,Horror,1990
3873,3943,Bamboozled,Comedy,2000
3874,3944,Bootmen,Comedy|Drama,2000
3875,3945,Digimon: The Movie,Adventure|Animation|Children's,2000
3876,3946,Get Carter,Action|Drama|Thriller,2000
3877,3947,Get Carter,Thriller,1971
3878,3948,Meet the Parents,Comedy,2000
3879,3949,Requiem for a Dream,Drama,2000
3880,3950,Tigerland,Drama,2000
3881,3951,Two Family House,Drama,2000
3882,3952,"Contender, The",Drama|Thriller,2000

## Ile filmow powstalo w poszczegolnych latach

In [86]:
movies.Year.value_counts().sort_values()

1921      1
1920      2
1922      2
1929      3
1923      3
1919      3
1928      3
1925      6
1935      6
1938      6
1927      6
1934      7
1930      7
1931      7
1933      7
1932      7
1936      8
1926      8
1949     10
1943     10
1945     11
1941     11
1937     11
1952     11
1939     11
1948     12
1951     12
1966     12
1942     13
1944     13
       ...
1958     22
1968     22
1967     24
1963     25
1971     26
1974     28
1973     29
1978     30
1979     32
1983     35
1980     41
1981     43
1982     50
1984     60
1989     60
1991     60
1985     65
1988     69
1987     71
1990     77
1992    102
1986    104
2000    156
1993    165
1994    257
1999    283
1997    315
1998    337
1995    342
1996    345
Name: Year, Length: 81, dtype: int64

## Jak wyglada rozklad plci oraz grup wiekowych wsrod uzytkownikow (zarowno jednowymiaroro jak i dwuwymiarowo)

In [93]:
users

         UserID  MovieID  Rating  Timestamp
0             1     1193       5  978300760
1             1      661       3  978302109
2             1      914       3  978301968
3             1     3408       4  978300275
4             1     2355       5  978824291
5             1     1197       3  978302268
6             1     1287       5  978302039
7             1     2804       5  978300719
8             1      594       4  978302268
9             1      919       4  978301368
10            1      595       5  978824268
11            1      938       4  978301752
12            1     2398       4  978302281
13            1     2918       4  978302124
14            1     1035       5  978301753
15            1     2791       4  978302188
16            1     2687       3  978824268
17            1     2018       4  978301777
18            1     3105       5  978301713
19            1     2797       4  978302039
20            1     2321       3  978302205
21            1      720       3  978300760
22            1     1270       5  978300055
23            1      527       5  978824195
24            1     2340       3  978300103
25            1       48       5  978824351
26            1     1097       4  978301953
27            1     1721       4  978300055
28            1     1545       4  978824139
29            1      745       3  978824268
...         ...      ...     ...        ...
1000179    6040     2762       4  956704584
1000180    6040     1036       3  956715455
1000181    6040      508       4  956704972
1000182    6040     1041       4  957717678
1000183    6040     3735       4  960971654
1000184    6040     2791       4  956715569
1000185    6040     2794       1  956716438
1000186    6040      527       5  956704219
1000187    6040     2003       1  956716294
1000188    6040      535       4  964828734
1000189    6040     2010       5  957716795
1000190    6040     2011       4  956716113
1000191    6040     3751       4  964828782
1000192    6040     2019       5  956703977
1000193    6040      541       4  956715288
1000194    6040     1077       5  964828799
1000195    6040     1079       2  956715648
1000196    6040      549       4  956704746
1000197    6040     2020       3  956715288
1000198    6040     2021       3  956716374
1000199    6040     2022       5  956716207
1000200    6040     2028       5  956704519
1000201    6040     1080       4  957717322
1000202    6040     1089       4  956704996
1000203    6040     1090       3  956715518
1000204    6040     1091       1  956716541
1000205    6040     1094       5  956704887
1000206    6040      562       5  956704746
1000207    6040     1096       4  956715648
1000208    6040     1097       4  956715569

[1000209 rows x 4 columns]

In [95]:
users.Gender.value_counts()

M    4331
F    1709
Name: Gender, dtype: int64

In [96]:
users.Age.value_counts()

25    2096
35    1193
18    1103
45     550
50     496
56     380
1      222
Name: Age, dtype: int64

In [99]:
pd.crosstab(users.Gender, users.Age, margins=True)

Age       1    18    25    35   45   50   56   All
Gender
F        78   298   558   338  189  146  102  1709
M       144   805  1538   855  361  350  278  4331
All     222  1103  2096  1193  550  496  380  6040

## Jaki gatunek filmowy jest najczestszy

In [113]:
movies.Genres.str.split('|', expand=True).unstack().value_counts()

Drama          1603
Comedy         1200
Action          503
Thriller        492
Romance         471
Horror          343
Adventure       283
Sci-Fi          276
Children's      251
Crime           211
War             143
Documentary     127
Musical         114
Mystery         106
Animation       105
Fantasy          68
Western          68
Film-Noir        44
dtype: int64

## najlepszy film wszechczasow

In [129]:
mrating = ratings.groupby('MovieID').agg({'Rating':'mean'}).sort_values(by='Rating', ascending=False)
mrating.merge(movies, on='MovieID')

,MovieID,Rating,Title,Genres,Year
0,989,5.000000,Schlafes Bruder (Brother of Sleep),Drama,1995
1,3881,5.000000,Bittersweet Motel,Documentary,2000
2,1830,5.000000,Follow the Bitch,Comedy,1998
3,3382,5.000000,Song of Freedom,Drama,1936
4,787,5.000000,"Gate of Heavenly Peace, The",Documentary,1995
5,3280,5.000000,"Baby, The",Horror,1973
6,3607,5.000000,One Little Indian,Comedy|Drama|Western,1973
7,3233,5.000000,Smashing Time,Comedy,1967
8,3172,5.000000,Ulysses (Ulisse),Adventure,1954
9,3656,5.000000,Lured,Crime,1947
10,3245,4.800000,I Am Cuba (Soy Cuba/Ya Kuba),Drama,1964
11,53,4.750000,Lamerica,Drama,1994
12,2503,4.666667,"Apple, The (Sib)",Drama,1998
13,2905,4.608696,Sanjuro,Action|Adventure,1962
14,2019,4.560510,Seven Samurai (The Magnificent Seven) (Shichin...,Action|Drama,1954
15,318,4.554558,"Shawshank Redemption, The",Drama,1994
16,858,4.524966,"Godfather, The",Action|Crime|Drama,1972
17,745,4.520548,"Close Shave, A",Animation|Comedy|Thriller,1995
18,50,4.517106,"Usual Suspects, The",Crime|Thriller,1995
19,527,4.510417,Schindler's List,Drama|War,1993
20,1148,4.507937,"Wrong Trousers, The",Animation|Comedy,1993
21,2309,4.500000,"Inheritors, The (Die Siebtelbauern)",Drama,1998
22,1795,4.500000,"Callej�n de los milagros, El",Drama,1995
23,2480,4.500000,Dry Cleaning (Nettoyage � sec),Drama,1997
24,439,4.500000,Dangerous Game,Drama,1993
25,557,4.500000,Mamma Roma,Drama,1962
26,3517,4.500000,"Bells, The",Crime|Drama,1926
27,3888,4.500000,Skipped Parts,Drama|Romance,2000
28,578,4.500000,"Hour of the Pig, The",Drama|Mystery,1993
29,922,4.491489,Sunset Blvd. (a.k.a. Sunset Boulevard),Film-Noir,1950
...,...,...,...,...,...
3676,3904,1.000000,"Uninvited Guest, An",Drama,2000
3677,2217,1.000000,Elstree Calling,Comedy|Musical,1930
3678,843,1.000000,Lotto Land,Drama,1995
3679,3493,1.000000,Torso (Corpi Presentano Tracce di Violenza Car...,Horror,1973
3680,730,1.000000,"Low Life, The",Drama,1994
3681,133,1.000000,Nueba Yol,Comedy|Drama,1995
3682,3123,1.000000,Spring Fever USA (a.k.a. Lauderdale),Comedy,1989
3683,684,1.000000,Windows,Drama,1980
3684,895,1.000000,Venice/Venice,Drama,1992
3685,3651,1.000000,"Blood Spattered Bride, The (La Novia Ensangren...",Horror,1972
3686,3202,1.000000,Even Dwarfs Started Small (Auch Zwerge haben k...,Drama,1971
3687,2213,1.000000,Waltzes from Vienna,Comedy|Musical,1933
3688,3460,1.000000,Hillbillys in a Haunted House,Comedy,1967
3689,641,1.000000,"Little Indian, Big City (Un indien dans la ville)",Comedy,1994
3690,127,1.000000,"Silence of the Palace, The (Saimt el Qusur)",Drama,1994
3691,1311,1.000000,Santa with Muscles,Comedy,1996
3692,2039,1.000000,Cheetah,Adventure|Children's,1989
3693,1115,1.000000,Sleepover,Comedy|Drama,1995
3694,3312,1.000000,"McCullochs, The",Drama,1975
3695,3376,1.000000,"Fantastic Night, The (La Nuit Fantastique)",Romance,1949
3696,1386,1.000000,Terror in a Texas Town,Western,1958
3697,1430,1.000000,Underworld,Thriller,1997
3698,1142,1.000000,Get Over It,Drama,1996
3699,1165,1.000000,"Bloody Child, The",Drama|Thriller,1996
3700,3237,1.000000,Kestrel's Eye (Falkens �ga),Documentary,1998
3701,826,1.000000,Diebinnen,Drama,1995
3702,3228,1.000000,Wirey Spindell,Comedy,1999
3703,2845,1.000000,White Boys,Drama,1999
3704,3209,1.000000,"Loves of Carmen, The",Drama,1948
3705,142,1.000000,Shadows (Cienie),Drama,1988

## to samo ale liczba ocen > 100

In [148]:
mrating = ratings.groupby('MovieID')['Rating'].agg({'Rating':'mean', 'Size':'size'}).sort_values(by='Rating', ascending=False)
#mrating.merge(movies, on='MovieID')
mrating[mrating['Size'] > 100].sort_values(by='Rating', ascending=False)

/home/kodolamacz/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

           Rating  Size
MovieID
2019     4.560510   628
318      4.554558  2227
858      4.524966  2223
745      4.520548   657
50       4.517106  1783
527      4.510417  2304
1148     4.507937   882
922      4.491489   470
1198     4.477725  2514
904      4.476190  1050
1178     4.473913   230
260      4.453694  2991
1212     4.452083   480
750      4.449890  1367
720      4.426941   438
1207     4.425647   928
3435     4.415608   551
912      4.412822  1669
2762     4.406263  2459
3030     4.404651   215
1204     4.401925   831
913      4.395973  1043
1193     4.390725  1725
923      4.388889  1116
3307     4.387454   271
1250     4.386994   938
908      4.384030  1315
1262     4.376437   696
3022     4.368932   206
1223     4.361522   473
...           ...   ...
169      2.017699   113
2153     1.996528   288
1972     1.995000   200
1976     1.979899   199
3054     1.977941   136
1381     1.963696   303
519      1.940594   202
3392     1.936306   157
502      1.935484   155
2798     1.925000   160
3440     1.920213   188
2381     1.913793   174
2643     1.888554   332
1707     1.876623   154
546      1.874286   350
1760     1.873684   190
1556     1.871935   367
2816     1.864865   148
393      1.857143   105
1389     1.852381   210
1996     1.830357   112
3564     1.804688   128
3268     1.782123   179
1998     1.769912   113
2382     1.766667   150
2555     1.701220   164
2383     1.657718   149
2817     1.640000   125
3593     1.611111   342
810      1.466667   120

[2006 rows x 2 columns]

## jaki jest najlepszy wg kobiet i wg mezczyzn

In [163]:
mrating = ratings.merge(users).groupby(['MovieID', 'Gender'])['Rating'].mean().sort_values(ascending=False)
mrating.reset_index()

      MovieID Gender  Rating
0        3888      F     5.0
1        1830      M     5.0
2         687      F     5.0
3        1153      F     5.0
4          53      F     5.0
5        3245      F     5.0
6         787      M     5.0
7        3280      M     5.0
8        2129      F     5.0
9        3292      F     5.0
10        854      F     5.0
11       3382      F     5.0
12       1780      F     5.0
13        681      F     5.0
14        985      M     5.0
15        989      M     5.0
16       1071      F     5.0
17       1450      F     5.0
18       1420      F     5.0
19       3656      M     5.0
20       3517      M     5.0
21       3641      F     5.0
22        130      M     5.0
23       3607      F     5.0
24       3233      M     5.0
25        787      F     5.0
26       2332      F     5.0
27       3172      M     5.0
28       3012      F     5.0
29       3881      F     5.0
...       ...    ...     ...
7122     2217      M     1.0
7123     1692      F     1.0
7124      874      F     1.0
7125     3940      F     1.0
7126     2256      F     1.0
7127      264      F     1.0
7128     3899      F     1.0
7129     3237      M     1.0
7130     3939      F     1.0
7131     3228      M     1.0
7132     3228      F     1.0
7133     3938      F     1.0
7134      895      M     1.0
7135      730      M     1.0
7136     3934      F     1.0
7137       59      F     1.0
7138     3904      M     1.0
7139     3209      F     1.0
7140     1494      F     1.0
7141      228      F     1.0
7142     2845      M     1.0
7143     1142      M     1.0
7144     1430      M     1.0
7145     3695      F     1.0
7146     3460      M     1.0
7147      981      F     1.0
7148     2825      F     1.0
7149     2823      M     1.0
7150       75      F     1.0
7151     1439      F     1.0

[7152 rows x 3 columns]

## Jaki jest sredni rok ogladanego filmu w poszczegolnych grupach wiekowych

In [164]:
oceny_users_movies = pd.merge(pd.merge(ratings,users), movies)

In [165]:
oceny_users_movies.groupby('Age')['Year'].mean()

Age
1     1988.981699
18    1989.701982
25    1987.972972
35    1984.965478
45    1983.500520
50    1982.483211
56    1981.549097
Name: Year, dtype: float64

## ProgressBar

In [174]:
! pip install tqdm --upgrade

Collecting tqdm
  Downloading tqdm-4.42.0-py2.py3-none-any.whl (59 kB)
     |████████████████████████████████| 59 kB 1.0 MB/s eta 0:00:011
Installing collected packages: tqdm
  Attempting uninstall: tqdm
    Found existing installation: tqdm 4.26.0
    Uninstalling tqdm-4.26.0:
      Successfully uninstalled tqdm-4.26.0
Successfully installed tqdm-4.42.0

In [175]:
from tqdm.notebook import tqdm

In [176]:
for i in tqdm(range(15)):
    a = np.random.uniform(0,1,(3000,3000))
    b = np.random.uniform(0,1,(3000,3000))
    c = a @ b

HBox(children=(FloatProgress(value=0.0, max=15.0), HTML(value='')))